<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../wp-includes/css/smartphoto.min.css">
	<title>SmartPhoto.js</title>
	<link rel="stylesheet" href="../wp-includes/css/style.css">
</head>
<body>
	<div class="wrapper">
		<% eventImages.forEach (function(imageDet){%>
		<h1 class="title"><%= imageDet.eventName %></h1>
		<div class="masonry">
            <% imageDet.imageDetails.forEach (function(imagePath){ %>
            <div class="brick">
				<a href="<%=imagePath%>" class="<%=imageDet.eventClass%>" data-caption="<%=imageDet.eventName%>" data-id="<%=imageDet.eventName%>">
					<img src="<%=imagePath%>" width="160"/>
				</a>
			</div>
            <% });%>
		</div>
		<% }); %>
	</div>
	<script src="../wp-includes/js/smartPhoto/jquery-3.3.1.min.js"></script>
	<script src="../wp-includes/js/smartPhoto/smartphoto.js?v=1"></script>
	<script>
	$(document).ready(function(){
		<% eventImages.forEach (function(imageDet){ %>
			new SmartPhoto(".<%=imageDet.eventClass%>");
		<% }); %>
		showAnimation: false;
	});		
	</script>
</body>
</html>
